@model ML.Usuario
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 col-sm-12 ms-2">
        <a href="@Url.Action("Formulario", "Usuario")"> <i class="bi bi-person-add" style="font-size: 3em; color:forestgreen"></i></a>     
    </div>
</div>


<div class="row">
    <div class="table-responsive">
        <div class="col-md-12">
            @if (Model.Usuarios != null)
            {
                <table class="table table-hover">
                    <tehead>
                        <tr>
                            <th>Editar</th>
                            <th>Estatus</th>
                            <th>IdUsuario</th>
                            <th>Nombre</th>
                            <th>ApellidoPaterno</th>
                            <th>ApellidoMaterno</th>
                            <th>UserName</th>
                            <th>IdRol</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>FechaNacimiento</th>
                            <th>Sexo</th>
                            <th>Telefono</th>
                            <th>Celular</th>
                            <th>CURP</th>
                            <th>Imagen</th>
                            <th>Direccion</th>
                            <th>Eliminar</th>
                        </tr>
                    </tehead>
                    <tbody>
                        @foreach (ML.Usuario usuario in Model.Usuarios)
                        {
                            <tr>
                                <td>
                                    @* <button type="button" class="btn btn-info">
                                            @Html.ActionLink("Editar", "Formulario", "Usuario", new { @class = "btn btn-info", IdUsuario = Convert.ToInt32(usuario.IdUsuario) }, null)
                                        </button>*@
                                    <a href="@Url.Action("Formulario","Usuario", new {IdUsuario=usuario.IdUsuario})">
                                        <i class="bi bi-pencil-square" style="font-size: 2em;"></i>
                                    </a>
                                </td>
                                <td>
                                    @if (usuario.Estatus == true)
                                    {
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked name=" Estatus" onchange="ActualizarEstatus(@usuario.IdUsuario,this)">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" name="Estatus" onchange="ActualizarEstatus(@usuario.IdUsuario,this)">
                                        </div>
                                    }
                                </td>
                                <th scope="row">@usuario.IdUsuario</th>
                                <td>@usuario.Nombre</td>
                                <td>@usuario.ApellidoPaterno</td>
                                <td>@usuario.ApellidoMaterno</td>
                                <td>@usuario.UserName</td>
                                <td>@usuario.Rol.Nombre</td>
                                <td>@usuario.Email</td>
                                <td>@usuario.Password</td>
                                <td>@usuario.FechaNacimiento</td>
                                <td>@usuario.Sexo</td>
                                <td>@usuario.Telefono</td>
                                <td>@usuario.Celular</td>
                                <td>@usuario.CURP</td>
                                <td>
                                    @if (usuario.Imagen == null)
                                    {
                                        <img id="imgUsuario" height="120px" src="~/Img/imgDefault.png" width="120px" />
                                    }
                                    else
                                    {
                                        <img id="imgUsuario" height="120px" src="data:image/*;base64,@Convert.ToBase64String(usuario.Imagen)" width="120px" />
                                    }

                                </td>
                                <td>@usuario.Direccion.Calle</td>
                                <td>
                                    <a href="@Url.Action("Delete","Usuario", new {IdDireccion=usuario.Direccion.IdDireccion})" onclick="alert('¡Esta seguro de eliminar este usuario!')">
                                        <i class="bi bi-trash" style="font-size: 2em;"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Ha ocurrido un error!
                </div>
            }
        </div>
    </div>
</div>

<script>
    var UrlEstatus = '@Url.Action("UpdateEstatus")';
</script>
<script src="~/Scripts/Usuario/Estatus/UpdateEstatus.js"></script>


